<div class="container">
    <div class="starter-template">
        <section class="content">
            <p>
                <h1 class="text-center"><span>Adblock youtube</span></h1>
            </p>
            <p class="text-center" style="font-size: 20px">No wait for skip button
            </p>
            <p class="text-center">
                <!-- <a type="button" class="btn btn-lg btn-default" href="{{conf.tarUrl}}">Download TAR</a> -->
                <!-- <a type="button" class="btn btn-lg btn-default" href="#/demo">Demo</a> -->
                <a type="button" class="btn btn-lg btn-default" href="#/chrome-extension"><img src="/images/Chrome-Extensions-Logo.png" /> Chrome extension</a>
                <a type="button" class="btn btn-lg btn-default" href="#/bookmarklet"><img src="/images/bookmark_icon.gif" /> Bookmarklet</a>
                <a type="button" class="btn btn-lg btn-default" href="{{conf.projectUrl}}"><img src="/images/GitHub-Mark-32px.png" /> Github&nbsp;Project</a>
            </p>
        </section>
    </div>
</div>
